* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, sans-serif;
}

button:focus {
	outline: 0;
}

.centered {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.row {
    display: table;
    table-layout: fixed;
    margin: -10px;
    border-spacing: 10px;
}

.choice {
	display: table-cell;
	width: 60px;
	height: 60px;
	border: 1px solid #666;
	background-color: #000;
}

#display-cont {
	position: fixed;
	width: calc(100% - 310px);
	height: 100%;
	background-color: #111;
	overflow: auto;
}

#tweaker-cont {
	position: fixed;
	right: 0;
	width: 310px;
	height: 100%;
	padding: 20px;
	background-color: #222;
}

#current {
	width: 130px;
	height: 130px;
	margin: 0 0 20px 0;
	border: 2px solid #666;
	background-color: #000;
}

#lock {
	display: none;
}

#num-locks {
	margin-top: 3px;
	color: #666;
	font-size: 1.5em;
}

#apply {
	margin: 20px 0 0 0;
	border: 2px solid #666;
	width: 130px;
	height: 60px;
	background-color: #000;
	color: #666;
	font-size: 1.5em;
}

#apply:active {
	border-width: 3px;
}

#tag-line {
	margin: 20px 0 0 0;
	color: #fff;
	font-size: 0.75em;
	font-style: italic;
}
